.menu {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    height: 100svh;
    width: 15em;
    overflow: hidden;
    background-color: var(--secondaryColor);
    border-right: 1px solid var(--borderColor);
    transform-origin: top right;
    box-sizing: border-box;

    &_links {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        width: 100%;
        margin: 2em 0 0 0;
        padding: 0.25em 1em 0.25em 0.25em;
        gap: 0.25em;
    }

    &_link {
        width: 100%;
        display: grid;
        grid-template-columns: 2.5em 1fr;
        align-items: center;
        justify-content: flex-start;
        gap: 0.5em;
        font-weight: 600;
        font-size: 0.95em;
        text-align: left;
        text-decoration: none;
        padding: 0.35em;
        margin: 0 0 0 0.5em;
        border: none;
        color: var(--foregroundSecondColor);
        font-family: var(--font-monsterrat);
        transition: all 0.15s ease-in-out;
        background-color: transparent;
        cursor: pointer;

        &Active {
            background-color: var(--primaryOpacityColor);
            border: 1px solid var(--primaryOpacityColor);
            border-radius: var(--borderRadius);
            color: var(--foregroundColor);
            transform: translateX(0.75em);
            width: 95%;
        }

        &:hover:not(.menu_linkActive) {
            background-color: var(--fourthColor);
            color: var(--foregroundColor);
        }
    }

    &_icon {
        width: 2em;
        height: 2em;
    }
}

.separator {
    display: flex;
    align-items: center;
    width: 100%;
    color: var(--primaryColor);
    font-size: 0.75em;
    text-transform: uppercase;
    padding: 0 0 0 0.15em;
    margin: 0.25em 0 0.5em 0;
    border-radius: 0 0.25em 0 0;
}

.logo {
    grid-row: 2 / 3;
    width: 2.2em;
    height: 2.2em;
    margin: 0 0 0 1em;
    align-self: center;
    justify-self: center;
}

.dialog {
    top: 0;
    width: 100svw;
    height: 100svh;
    border: none;
    background-color: transparent;
    z-index: 9;
    transition: all 0.3s ease-in-out;
    transform: translateX(-100%);

    &_active {
        transform: translateX(0);
    }

}

.menuButton {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-self: flex-start;
    justify-self: flex-start;
    column-gap: 0.75em;
    padding: 0.25em 1em 0.25em 1em;
    border: none;
    height: 3em;
    font-family: var(--font-monsterrat);
    color: var(--foregroundColor);
    background-color: transparent;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    z-index: 20;

    &:hover {
        background-color: var(--hover-link);
    }

    &_icon {
        width: 2em;
        height: 2em;
    }

    &_name {
        font-size: 1.2em;
    }
}