.section {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    row-gap: 0.5em;
    padding: 1em 0.5em;
    margin: 1em 0 0 0;
    border-radius: var(--border-radius);
    color: var(--foreground-color);
    background-color: var(--background-start-color);

    &_bets {
        text-wrap: balance;
        font-size: 1.1em;
    }

    &_icon {
        width: 4em;
        height: 4em;
        margin-bottom: 1em;
        color: var(--highlight-color);
    }

    &_data {
        display: flex;
        flex-direction: column;
        justify-content: left;
        align-items: start;
        align-self: self-start;
        margin: 0.5em 0;

        &Account {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            margin: 0.25em 0;
        }
    }

    &_title {
        font-size: 1em;
        font-weight: 600;
        text-align: center;
        text-wrap: balance;
        color: var(--foreground-color);
    }

    &_label {
        font-size: 0.8em;
        font-weight: 300;
        text-align: center;
        color: var(--foreground-second-color);
    }

    &_text {
        font-size: 0.85em;
        font-weight: 300;
        text-align: center;
        color: var(--foreground-color);

        &Light {
            text-align: center;
            color: var(--highlight-color);
            margin: 0em 0 0 0;
            font-size: 0.8em;
        }

        &Name {
            font-size: 0.8em;
            font-weight: 600;
            text-align: center;
            padding: 0.5em 1em;
            border-radius: var(--border-radius);
            background-color: var(--subtitleBack-color);
            color: var(--subtitle-color);
        }

        &Account {
            font-size: 0.8em;
            font-weight: 300;
            text-align: center;
            color: #0deba1;
            padding: 0.5em 1em;
            border-radius: var(--border-radius);
            background-color: var(--subtitleBack-color);
        }

        &Info {
            font-size: 0.8em;
            font-weight: 600;
            text-align: center;
            text-wrap: balance;
            color: var(--subtitle-color);
        }

        &InfoTwo {
            font-size: 1.1em;
            font-weight: 600;
            text-align: center;
            text-wrap: balance;
            color: var(--subtitle-color);
        }

        &Paid {
            font-size: 0.8em;
            font-weight: 500;
            text-align: center;
            text-wrap: balance;
            padding: 0.25em 0.5em;
            width: 100%;
            border-radius: var(--border-radius);
            color: var(--font-color);
            background-color: #0deba130;
            border: 1px solid #0deba1AA;

        }

        &NotPaid {
            font-size: 0.8em;
            font-weight: 500;
            text-align: center;
            text-wrap: balance;
            padding: 0.25em 0.5em;
            border-radius: var(--border-radius);
            color: var(--font-color);
            background-color: #eb0d0d30;
            border: 1px solid #eb0d0dAA;

        }
    }

    &_container {
        display: grid;
        grid-template-columns: 1fr 2em;
        column-gap: 1em;
        width: 100%;
    }

    &_bets {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        row-gap: 0.5em;
        border: 1px solid var(--border-color);
        padding: 0.5em;
        border-radius: var(--border-radius);
        background-color: var(--hover-link);

        &Group {
            display: grid;
            grid-template-columns: 1fr 1fr;
            column-gap: 0.5em;
        }

        &Title {
            font-size: 0.85em;
            font-weight: 600;
            color: var(--foreground-second-color);
        }

        &Bet {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            column-gap: 0.5em;
            width: 100%;

        }

        &Button {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            width: 2em;
            height: 2em;
            border: none;
            background-color: var(--twitterTwo-color);
            border-radius: var(--border-radius);
            cursor: pointer;

            &Icon {
                width: 1.3em;
                height: 1.3em;
                color: var(--highlight-color);
            }

            &View {
                width: 1.3em;
                height: 1.3em;
                color: var(--borderTwo-color);
                transition: color 0.3s ease;

                &:hover {
                    color: var(--highlight-color);
                }

            }
        }
    }

    &_price {
        font-size: 1.5em;
        font-weight: 600;
        color: var(--subtitle-color);
    }

    &_dialog {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: var(--hover-linkTwo);
        backdrop-filter: blur(5px);

        &Container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            row-gap: 1em;
            padding: 1em;
            border-radius: var(--border-radius);
            background-color: var(--background-start-color);
            border: 1px solid var(--border-color);
        }

        &Title {
            font-size: 1em;
            font-weight: 600;
            color: var(--foreground-color);
        }

        &Text {
            font-size: 1em;
            font-weight: 400;
            color: var(--foreground-color);
            text-align: center;
        }

        &Header {
            display: flex;
            flex-direction: row;
        }

        &Match {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            font-size: 0.8em;
            font-weight: 600;
            padding: 0.5em 0;
            width: 3em;
            color: var(--foreground-color);
            border-top: 1px solid var(--border-color);
            border-left: 1px solid var(--border-color);

            &:first-child {
                border-radius: var(--border-radius) 0 0 0;
            }

            &:nth-last-child(1) {
                border-right: 1px solid var(--border-color);
                border-radius: 0 var(--border-radius) 0 0;
            }
        }

        &Main {
            display: flex;
            flex-direction: row;
        }

        &Result {
            display: flex;
            flex-direction: row;
            justify-content: center;
            width: 3em;
            font-size: 0.8em;
            font-weight: 800;
            padding: 0.5em 0;
            align-items: center;
            border-top: 1px solid var(--border-color);
            border-bottom: 1px solid var(--border-color);
            border-left: 1px solid var(--border-color);
            background-color: var(--hover-link);

            &:nth-last-child(1) {
                border-right: 1px solid var(--border-color);
            }
        }
    }

}