/*.loading {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4em 0;
    margin: auto 0;
    color: var(--highlighthover-color);

    &_icon {
        width: 4em;
        height: 4em;
        animation: rebotar 0.7s ease-in-out infinite;

        @keyframes rebotar {
            0% {
                transform: translateY(0) scaleY(0.95);
            }

            50% {
                transform: translateY(-3em) scaleY(1.1);
            }

            100% {
                transform: translateY(0) scaleY(0.95);
            }

        }
    }

    &_text {
        font-size: 2em;
    }
}
*/

/*body {
    padding: 0;
    margin: 0;
}

main-loader {
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.75);
}
*/
.main_fader {
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100svw - 10em);
    height: 50%;
    //position: absolute;
    transform: scale(0.4);
    padding: 0em 0 0 0;
    //background-color: rgba(0, 0, 0, 0.8);

    &Text {
        font-size: 3em;
        padding: 6.5em 0 0 0;
        color: var(--highlighthover-color);
    }

    &Loader {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        svg {
            height: 300px;
            display: block;
            margin: 0 auto;

            path {
                animation-duration: 1s;
                animation-name: pulse;
                animation-iteration-count: infinite;
                color: var(--highlighthover-color);

                &.path_7 {
                    animation-delay: -1s
                }

                &.path_6 {
                    animation-delay: -.875s
                }

                &.path_5 {
                    animation-delay: -.75s
                }

                &.path_4 {
                    animation-delay: -.625s
                }

                &.path_3 {
                    animation-delay: -.5s
                }

                &.path_2 {
                    animation-delay: -.375s
                }

                &.path_1 {
                    animation-delay: -.25s
                }

                &.path_0 {
                    animation-delay: -.125s
                }
            }
        }
    }
}


@keyframes pulse {
    0% {
        opacity: .1;
    }

    30% {
        opacity: .8;
    }

    100% {
        opacity: .1;
    }
}