.group {
    display: flex;
    flex-direction: row;
    column-gap: 0.25em;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    justify-content: right;

    &:nth-child(1) {
        opacity: 1;
        animation: animateGroupOne 7s ease-in-out infinite;

        @keyframes animateGroupOne {
            0% {
                opacity: 0;
            }

            5% {
                opacity: 1;
            }

            30% {
                opacity: 1;
            }

            35% {
                opacity: 0;
            }

            100% {
                opacity: 0;
            }
        }
    }

    &:nth-child(2) {
        opacity: 0;
        animation: animateGroupTwo 7s ease-in-out infinite;

        @keyframes animateGroupTwo {
            0% {
                opacity: 0;
            }

            30% {
                opacity: 0;
            }

            35% {
                opacity: 1;
            }

            65% {
                opacity: 1;
            }

            70% {
                opacity: 0;
            }

            100% {
                opacity: 0;
            }
        }
    }

    &:nth-child(3) {
        opacity: 0;
        animation: animateGroupThree 7s ease-in-out infinite;

        @keyframes animateGroupThree {
            0% {
                opacity: 0;
            }


            65% {
                opacity: 0;
            }

            70% {
                opacity: 1;
            }

            95% {
                opacity: 1;
            }

            100% {
                opacity: 0;
            }
        }
    }


}