.main {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    margin: 0 auto;
    height: 100svh;
    padding: 2.6em 0.5em 1em 0.5em;
    width: 100%;
    max-width: var(--max-width);
    overflow: hidden;
    box-sizing: border-box;

    @media (width < 700px) {
        width: 100svw;
        padding: 2.6em 0.5em 1em 0;
    }

    &_landscape {
        padding: 2.5em 0.5em 0.5em 0.5em;

    }

    &_table {
        position: relative;
        display: grid;
        grid-template-columns: 13em 1fr;
        width: 100%;
        padding: 0 0 0.25em 0;
        max-width: max-content;
        border: 1px solid transparent;
        border-radius: var(--borderRadius);
        transition: all 0.3s ease-in-out;

        &Hidden {
            grid-template-columns: 2em 1fr;
        }

    }

}

.buttonView {
    padding: 0.5em 0;
}

.headerTable {
    position: sticky;
    left: 0;
    display: flex;
    flex-direction: column;
    row-gap: 0.25em;
    //overflow: hidden;
    z-index: 3;
    background-color: var(--background-text);


}

.empty {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 0.5em;
    padding: 1em 2em;
    margin: 1em 0 0 0;
    border-radius: var(--borderRadius);
    color: var(--foregroundColor);
    background-color: var(--hover-link);

    &_bets {
        text-wrap: balance;
        font-size: 1.1em;
    }

    &_text {
        font-size: 0.85em;
        font-weight: 300;
        text-align: center;
        color: var(--foregroundColor);
    }
}

.nomatches {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;
    background-color: var(--borderTwoColor);
    border-radius: var(--borderRadius);
    padding: 0.5em 1em;
    margin: 2em 0 0 0;

    &_icon {
        width: 5em;
        height: 5em;
        color: #ac0000;
    }
}