.main {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    margin: 0 auto;
    height: 100svh;
    padding: 5em 0.25em 1em 0.25em;
    width: 100%;
    background: linear-gradient(-30deg, var(--tertiaryColor), var(--backgroundColor));
    max-width: var(--max-width);

    &_landscape {
        padding: 3.4em 0.5em 0.5em 0.5em;

    }

    &_title {
        font-size: 1.3em;
        color: var(--primaryColor);

        &Two {
            font-size: 1em;
            margin: 0 0 0.55em 0;
        }
    }

    &_select {
        text-align: center;
        padding: 0.25em 0.5em;
        font-size: 1em;
        color: var(--primaryHoverColor);
        border: 1px solid transparent;
        border-radius: var(--borderRadius);
        background-color: var(--fourthColor);
    }

    &_combobox {
        padding: 0.5em 0;
    }

    &_tables {
        display: flex;
        flex-direction: row;
        column-gap: 1em;
        width: 100%;
        overflow: hidden;
    }


}

.group {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    max-width: 29em;


    &_text {
        padding: 0.5em 1em;
        margin: 0 0 0.5em 0;
        border-radius: var(--borderRadius);
        background-color: var(--hover-link);
    }

    &_button {
        width: 2.5em;
        height: 2.5em;
        border-radius: var(--borderRadius);
        border: none;
        background-color: var(--hover-link);

        cursor: pointer;
        transition: background-color 0.3s ease-in-out;

        &:hover {
            background-color: var(--headerhover-color);
        }

        &Next {
            transform: rotate(180deg);
        }

        &Disabled {
            opacity: 0;
            pointer-events: none;
        }
    }

    &_icon {
        color: var(--foregrounColor);


    }
}


.table {
    position: relative;
    display: grid;
    grid-template-columns: 12em 1fr;
    max-width: 100svw;
    align-items: center;
    justify-content: flex-start;
    width: max-content;
    margin: 0 auto;
    overflow-x: auto;
    overflow-y: auto;



    &_description {
        position: sticky;
        left: 0;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 0.25em;
        height: 100%;
        z-index: 2;
    }

    &_statistics {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 0.25em;
        height: 100%;
        max-width: 17em;


    }

    &_titles {
        position: sticky;
        top: 0;
        display: grid;
        place-items: center center;
        height: 1.95em;
        text-align: center;
        grid-template-columns: repeat(8, 2em);
        background-color: var(--secondaryColor);
        padding: 0.3em 0.2em;


        &Club {
            position: sticky;
            top: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            flex-direction: column;
            width: 100%;
            max-width: 12em;
            padding: 0.3em 0.2em;
            background-color: var(--secondaryColor);
        }

        &Text {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 2em;
            height: 1.5em;
            font-size: 0.9em;
            font-weight: 500;
            color: var(--primaryColor);
            text-align: center;
            border-radius: var(--borderRadius);
            background-color: var(--hover-link);

            &Club {
                width: 100%;
            }
        }



    }


}