 .description {
     display: flex;
     align-items: center;
     flex-direction: row;
     gap: 1em;
     width: max-content;
     animation: animationSlide 9s linear infinite alternate;

     @keyframes animationSlide {
         to {
             transform: translateX(-100%);
         }
     }

 }