.title {
    font-size: 1em;
    color: var(--foregroundColor);
    text-transform: uppercase;
    padding: 0.15em 0.75em;
    border-radius: var(--borderRadius);
    background-color: var(--borderTwoColor);
}

.matches {
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 1fr 1fr;
    gap: 0.5em;
    width: 100%;
    max-width: var(--max-width);
    padding: 0.5em 0;
    //height: calc(100svh - 9em);
    //background-color: var(--tertiaryColor);

    &_container {
        display: flex;
        flex-direction: column;
        gap: 0.5em;
    }

    &_match {
        display: flex;
        flex-direction: row;
        gap: 0.5em;
        padding: 0.5em;
        border-radius: 0.25em;
        border: 1px solid var(--borderTwoColor);
        background-color: var(--secondaryColor);
    }
}


.team {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    &_name {
        font-size: 0.8em;
    }

    &>svg {
        width: 2.5em;
        height: 2.5em;
    }
}

.logo {
    width: 2em;
    height: 2em;
}

.button {
    position: fixed;
    bottom: 1em;
}

.vs {
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 0.85em;
}