.button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: none;
    height: 2em;
    font-weight: 600;
    padding: 0.25em 0.6em 0.25em 0.25em;
    min-width: 6em;
    width: max-content;
    column-gap: 1em;
    border-radius: var(--border-radius);
    color: var(--background-start-color);
    background-color: var(--highlight-color);
    transition: all 0.3s ease-in-out;
    font-family: var(--font-montserrat);

    &>svg {
        width: 1.3em;
        height: 1.3em;
    }

    &:hover {
        background-color: var(--highlighthover-color);
    }

    &_secondary {
        color: var(--foreground-color);
        background-color: var(--headerhover-color);

        &:hover {
            background-color: var(--twitterTwo-color);
        }
    }
}