.button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: none;
    font-weight: 600;
    padding: 0.5em 1em;
    min-width: 6em;
    width: max-content;
    column-gap: 0.5em;
    border-radius: var(--border-radius-md);
    color: var(--text-color);
    background-color: var(--primary-color);
    transition: all 0.3s ease-in-out;
    font-family: var(--font-jost);
    cursor: pointer;

    &>svg {
        width: 1.4em;
        height: 1.4em;
    }

    &:hover {
        filter: brightness(120%);
    }

    &_secondary {
        color: var(--text-color);
        background-color: var(--surface-e);

        &:hover {
            background-color: var(--surface-100);
        }
    }

    &:disabled {
        opacity: 0.9;
        pointer-events: none;
        filter: brightness(80%);
        cursor: not-allowed;
    }

    &_error {
        color: var(--text-color);
        background-color: #bc0505;

        &:hover {
            background-color: #d31010;
        }
    }

    &_success {
        color: var(--text-color);
        background-color: #078f17;

        &:hover {
            background-color: #05bc1a;
        }
    }


}