:root {
	--max-width: 1000px;
	--border-radius: 12px;
	--font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono", "Roboto Mono",
		"Oxygen Mono", "Ubuntu Monospace", "Source Code Pro", "Fira Mono", "Droid Sans Mono",
		"Courier New", monospace;
	--font-primary: ;

	--height-combo: 0;

	--foreground-color: #ffffff;
	--foreground-second-color: #c8c7c7;
	--background-start-color: #181818;
	--background-end-color: #000000;
	--header-color: #202130;
	--headerhover-color: #3a3b51;
	--highlight-color: #c81944;
	--highlighthover-color: #f41e47;
	--screen-color: #191f24;
	--border-color: #fff9f960;
	--borderTwo-color: #9a9a9acd;
	--subtitle-color: #2192e9;
	--subtitleBack-color: #9dd1f920;

	--error-color: #ff0033;

	--twitter-color: #0c0c0c;
	--twitterTwo-color: #343333;

	--facebook-color: #3d5a98;
	--facebookTwo-color: #5374bb;

	--background-text: #191e24;
	--background-textTwo: #34383c;

	--hover-link: #ffffff10;
	--hover-linkTwo: #34383c20;

	--box-shadow: 0 0 3px 1px #31222260 inset;
	--box-shadowTwo: 0 0 4px 2px #4e4e4e90;
	--box-shadowLive: 0 0 4px 2px #2fed0d90 inset;

	--border-radius: 0.25em;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html,
body {
	max-width: 100vw;
	overflow-x: hidden;
}

body {
	color: var(--foreground-color);
	background: linear-gradient(to bottom, transparent, var(--background-end-color))
		var(--background-start-color);
}

.logo__team_slided {
	width: 6em;
	height: 6em;
}

.scrollbar {
	overflow-x: auto;
	overflow-y: auto;
	border: 1px solid var(--hover-link);
}

.scrollbar::-webkit-scrollbar {
	width: 0.4em;
	height: 0.4em;
	background-color: var(--twitterTwo-color);
}

.scrollbar::-webkit-scrollbar-thumb {
	border-radius: 1em;
	background-color: var(--highlight-color);
	cursor: pointer;
}

.scrollbar::-webkit-scrollbar-corner {
	background-color: var(--highlight-color);
}
