@import "tailwindcss";

:root {
	--max-width: 850px;
	--borderRadius: 12px;
	--font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono", "Roboto Mono",
		"Oxygen Mono", "Ubuntu Monospace", "Source Code Pro", "Fira Mono", "Droid Sans Mono",
		"Courier New", monospace;
	--primary-color: #3abbea !important;
	--danger-color: #f42c2c;
	--success-color: #7ac024;
	--contrast-color: #e3e3e3;
	--border-radius: 0.2em !important;
}


* {
	font-family: var(--font-jost);
}

html,
body {
	max-width: 100vw;
	overflow-x: hidden;
}

body {
	background: linear-gradient(-40deg, var(--surface-b), var(--surface-c));
	/*font-family: "Montserrat", "Roboto Mono", sans-serif;*/
}

.logo__team_slided {
	width: 6em;
	height: 6em;
}

.scrollbar {
	overflow-x: hidden;
	overflow-y: auto;
}

.scrollbarXY {
	overflow-x: auto;
	overflow-y: auto;
}

.scrollbar::-webkit-scrollbar,
.scrollbarXY::-webkit-scrollbar {
	width: 0.4em;
	height: 0.4em;
	background-color: var(--twitterTwo-color);
}

.scrollbar::-webkit-scrollbar-thumb,
.scrollbarXY::-webkit-scrollbar-thumb {
	border-radius: 1em;
	background-color: var(--primary-color);
	cursor: pointer;
}

.scrollbar::-webkit-scrollbar-corner,
.scrollbarXY::-webkit-scrollbar-corner {
	background-color: var(--primaryColor);
}

.sectionContainer {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	flex-direction: column;
	margin: 0 auto;
	padding: 2.75em 0 0 0;
	width: 100%;
	height: 100svh;
	overflow-y: auto;
	max-width: var(--max-width);
}

.p-dialog .p-dialog-content {
	padding: 0.5em;
}

.delete-exit {
	opacity: 1;
	transform: translateY(0);
}

.delete-exit-active {
	opacity: 0;
	transform: translateY(-20px);
	transition: opacity 300ms, transform 300ms;
}

.p-button {
	border-radius: var(--border-radius);
}

.p-inputnumber-button {
	background: var(--primary-color);
	border-color: var(--primary-color);

	&.p-inputnumber-button-up {
		border-radius: 0 var(--border-radius) var(--border-radius) 0;
	}

	&.p-inputnumber-button-down {
		border-radius: var(--border-radius) 0 0 var(--border-radius);
	}
}

.p-highlight .p-button {
	background: var(--primary-color);
	color: var(--surface-900);
}

.p-highlight .p-tabview-nav-link {
	background: var(--surface-a);
	color: var(--primary-color);
	border-color: var(--primary-color);

	&:hover {
		border-color: var(--primary-color);
	}
}

.p-tabview-nav-link {
	transition: all 0.2s ease-in-out;

	&:hover {
		border-color: var(--primary-color);
	}

}

.p-button {

	&.p-button-danger {
		background: var(--danger-color);
		color: var(--surface-b);
		border-color: var(--danger-color);

		&.p-button-text {
			background: transparent;
			color: var(--danger-color);
			border-color: transparent;
			box-shadow: 0 0 4px 1px var(--surface-0);
		}

		&.p-button-outlined {
			background: transparent;
			color: var(--danger-color);
			border-color: var(--danger-color);
		}
	}

	&.p-button-success {
		background: var(--success-color);
		color: var(--surface-b);
		border-color: var(--success-color);

		&.p-button-text {
			background: transparent;
			color: var(--success-color);
			border-color: transparent;
			box-shadow: 0 0 4px 1px var(--surface-0);
		}

		&.p-button-outlined {
			background: transparent;
			color: var(--success-color);
			border-color: var(--success-color);
		}
	}

	&.p-button-link {
		color: var(--primary-color);
	}

}

.p-inputswitch {
	border-radius: 2em;

	&.p-highlight {

		.p-inputswitch-slider {
			background: var(--primary-color);
		}
	}

	.p-inputswitch-slider {
		transition: all 0.2s;
		background: var(--surface-100);
		border-radius: 2em;

		&::before {
			border-radius: 2em;
		}
	}

}

.p-checkbox .p-checkbox-box {
	border-radius: var(--border-radius);
}

.p-checkbox.p-highlight .p-checkbox-box {
	background: var(--primary-color);
	border-color: var(--primary-color);
}

.p-dropdown:not(.p-disabled).p-focus {
	outline: 0;
	outline-offset: 0;
	border-color: var(--primary-color);
	box-shadow: 0 0 3px 0px var(--primary-color);
}

.p-inputtext:enabled:focus {
	outline: 0;
	outline-offset: 0;
	border-color: var(--primary-color);
	box-shadow: 0 0 3px 0px var(--primary-color);
}

.p-dropdown-panel .p-dropdown-items .p-dropdown-item.p-highlight {
	color: var(--primary-color);

	&.p-focus {
		background-color: var(--surface-d);
	}
}

.p-dropdown-items-wrapper {

	overflow-x: hidden;
	overflow-y: auto;


	&::-webkit-scrollbar {
		width: 0.4em;
		height: 0.4em;
		background-color: var(--twitterTwo-color);
	}

	&::-webkit-scrollbar-thumb {
		border-radius: 1em;
		background-color: var(--primary-color);
		cursor: pointer;
	}

	&::-webkit-scrollbar-corner {
		background-color: var(--primaryColor);
	}
}

.p-dialog {
	max-height: 95svh;
	min-height: 95svh;
	overflow-y: hidden;
}

.p-dialog-content {
	overflow-y: hidden;
}

.p-dialog-header {
	display: none;
}

.p-tag {
	border-radius: var(--border-radius);

	&.p-component {
		&.p-tag-contrast {
			background: var(--contrast-color);
		}
	}
}

.p-overlaypanel {
	background-color: var(--surface-0);
	border-color: var(--surface-100);

	&::before {
		bottom: 100%;
		left: calc(var(--overlayArrowLeft, 0) + 1.25rem);
		content: " ";
		height: 0;
		width: 1em;
		position: absolute;
		margin-left: -10px;
		pointer-events: none;
		border-bottom-color: var(--surface-100);
	}

	&::after {
		bottom: 100%;
		left: calc(var(--overlayArrowLeft, 0) + 1.25rem);
		content: " ";
		height: 0;
		width: 0;
		margin-left: -8px;
		position: absolute;
		pointer-events: none;
		border-bottom-color: var(--surface-0);
	}
}