.match {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: var(--hover-linkTwo);
    border: 1px solid var(--background-textTwo);
    padding: 0.5em 0.25em;
    border-radius: var(--borderRadius);
    transition: background-color 0.25s ease-in-out;

    &:hover {
        background-color: var(--hover-link);
    }

    &_tournament {
        padding: 0.15em 0.5em;
        border-radius: var(--borderRadius);
        color: var(--foregroundColor);
    }

    &_day {
        font-size: 0.8em;
        color: #c86213;
    }

    &_header {
        display: grid;
        grid-template-columns: 1fr 1em 1fr;
        width: 100%;

    }

    &_team {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        &Away {
            flex-direction: row-reverse;
        }

        &Logo {
            width: 2.5em;
            height: 2.5em;
        }

        &Name {
            grid-column: 2 / 3;
            grid-row: 1 / 3;
            font-size: 0.8em;
            text-transform: uppercase;
            text-align: center;
            font-weight: 700;
            color: var(--foregroundSecondColor);

            @media (max-width: 600px) {
                font-size: 0.7em;
            }
        }



    }

    &_score {
        width: 2.5em;
        padding: 0.25em 0;
        text-align: center;
        border-radius: var(--borderRadius);
        background-color: var(--fourthColor);
        font-weight: 600;
        font-size: 1.2em;
        color: #b1e418;

        @media (max-width: 600px) {
            width: 2em;
        }
    }

    &_separator {
        padding: 0.5em 0 0 0;
        text-align: center;
    }

    &_status {
        grid-column: 1 / span 3;
        text-align: center;
        font-size: 0.7em;
        font-weight: 500;
        padding: 0.25em 0.5em;
        border-radius: var(--borderRadius);
        text-transform: uppercase;
        background-color: var(--secondaryColor);


        &NotStarted {
            color: #008000;
        }

        &Ended {
            color: #808080;
        }

        &Started {
            position: relative;
            color: #f52222;



        }
    }


    &_stadium {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        column-gap: 0.5em;
        font-size: 0.8em;
        padding: 0.3em 0 0.2em 0;

        &Icon {
            width: 1.3em;
            height: 1.3em;
            color: var(--foregroundColor);
        }

    }

    &_timeMatch {
        display: flex;
        align-items: center;
        column-gap: 0.75em;
        flex-direction: row;
        position: relative;
        color: #12b31a;
        font-size: 0.85em;
        padding: 0.25em 0;
        margin: 0 0 0.25em 0;
        //border-bottom: 1px solid #12b31a;

        /*&::after {
            position: absolute;
            content: "";
            width: 4em;
            height: 0.25em;
            border-radius: 2em;
            bottom: -0.125em;
            left: 0;
            background: linear-gradient(to right, #12b31a05, #12b31a, #12b31a05);
            animation: live 0.8s ease-in-out alternate infinite;
        }

        @keyframes live {
            0% {
                transform: translateX(-0.2em);
            }

            100% {
                transform: translateX(100%);
            }
        }*/

        &Clock {
            position: relative;
            display: flex;
            align-items: flex-start;
            justify-content: center;
            //background-color: #12b31a35;
            //border: 1px solid #12b31a;
            border-radius: 2em;
            width: 2.2em;
            height: 2.2em;
            padding: 0.2em;

            &::after {
                position: absolute;
                bottom: 0.5em;
                font-size: 0.7em;
                content: "MIN";
            }

        }

        &Period {
            font-weight: 600;
            padding: 0.2em 0.5em;
            border-radius: 2em;
            //border: 1px solid #fab700;
            color: #00edfa;
            //background-color: #fab70045;
            text-transform: uppercase;
            font-size: 0.85em;
        }

        &Icon {
            position: absolute;
            left: -0.5em;
            width: 3.2em;
            height: 3.2em;
            animation: time 4s linear infinite;



            @keyframes time {
                0% {
                    transform: rotate(0);
                }

                100% {
                    transform: rotate(359deg);
                }
            }
        }
    }

    &Time {
        position: absolute;
        left: 0.1em;
        width: 2.3em;
        height: 2.3em;
        //background-color: #3c90cc35;

    }

    &_hour {
        color: #3c90cc;
        font-size: 0.85em;
    }

    &_buttonDetails {
        padding: 0.35em 0.7em;
        margin: 0.75em 0 0 0;
        font-size: 0.8em;
        max-width: 10em;
        font-family: var(--font-montserrat);
        border-radius: var(--borderRadius);
        color: var(--foregroundColor);
        border: none;
        background-color: #0db0f035;
        cursor: pointer;
        transition: background-color 0.15s ease-in-out;

        &:hover {
            background-color: #11afee35;

        }

        &:active {
            background-color: var(--hover-link);

        }
    }

    &_footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0 0 0.5em 0;
        width: 100%;
        margin: 0.5em 0 0 0;
        border-top: 1px solid var(--hover-link);
        background-color: var(--hover-linkTwo);

    }

}

.goalsAndCards {
    display: grid;
    grid-template-columns: 1fr 1em 1fr;
    column-gap: 0.25em;
    grid-row: 2 / 3;
    grid-column: 1 / span 3;
    place-content: start center;
    place-items: start center;
    row-gap: 0.25em;
    font-size: 0.8em;
    padding: 0.5em 0.25em 0.25em 0.25em;
    width: 100%;
    margin: 0.5em 0;

    &_team {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        column-gap: 0.2em;
        //width: max-content;

        &Home {
            grid-column: 1 / 2;
        }

        &Away {
            grid-column: 3 / 4;
        }


    }

    &_goal {
        display: grid;
        grid-template-columns: 1.5em 1.5em 1fr;
        align-items: flex-start;
        justify-content: flex-start;
        column-gap: 0.5em;

        &Icon {
            width: 1.2em;
            height: 1.2em;
        }

        &Minute {
            color: #5cbbff;
        }
    }

    &_card {
        display: grid;
        grid-template-columns: 1.5em 1.5em 1fr;
        align-items: flex-start;
        justify-content: flex-start;
        column-gap: 0.5em;

        &Icon {
            width: 1.2em;
            height: 1.2em;
        }

        &Minute {
            color: #5cbbff;
        }
    }
}



.details {
    position: fixed;
    left: 0;
    top: 0;
    width: 100svw;
    height: 100svh;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding: 3em 0 0 0;
    background-color: #1d1d1d45;
    backdrop-filter: blur(3px);
    z-index: 5;

    &_statistics {
        overflow-y: auto;
        max-height: 70svh;
    }

    &_close {
        position: absolute;
        top: 1em;
        left: calc(50% - 3em);
        width: 6em;
        font-family: var(--font-montserrat);
        padding: 0.25em 0.5em;
        font-weight: 600;
        color: var(--tertiaryColor);
        border: none;
        background-color: var(--primaryColor);
        cursor: pointer;

        &:hover {
            background-color: var(--primaryHoverColor);
        }
    }

    &_section {
        position: relative;
        background: linear-gradient(30deg, var(--tertiaryColor), var(--backgroundColor));
        width: 95%;
        max-width: 40em;
        //min-height: 60svh;
        max-height: 80svh;
        border: 1px solid var(--hover-link);
        overflow-y: auto;
        padding: 0 0 2em 0;
    }

    &_header {
        position: sticky;
        top: 0;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 0.25em;
        width: 100%;
        z-index: 4;
        padding: 0.25em;
        background-color: var(--secondaryColor);

        &Button {
            padding: 0.75em;
            background-color: var(--headerhover-color);
            color: var(--foregroundColor);
            border: none;
            font-size: 0.7em;
            //border-bottom: 2px solid transparent;
            cursor: pointer;
            font-family: var(--font-montserrat);
            transition: background-color 0.3s ease-in-out;



            &Active {
                //border-bottom: 2px solid var(--primaryColor);
                color: var(--primaryHoverColor);
                background-color: var(--backgroundColor);
                font-weight: 600;
            }
        }
    }

    &_posession {
        position: relative;
        top: 1em;
        color: var(--foregroundSecondColor);
        text-transform: uppercase;
        font-weight: 600;
    }

    &_title {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        place-items: center center;
        width: 100%;
        padding: 0.25em;
        background-color: var(--background-text);

        &Text {
            font-weight: 500;
            color: var(--primaryColor);
        }

        &Logo {
            width: 2.5em;
            height: 2.5em;
        }

        &Goals {
            padding: 0.25em;
            font-size: 1.8em;
            font-weight: 600;
            color: var(--foregroundColor);
        }

        &Possession {
            padding: 0.25em;
            font-size: 1.4em;
            font-weight: 400;
            color: var(--foregroundColor);
        }

        &Bar {
            display: flex;
            flex-direction: row;
            width: 100%;
            height: 1em;
            border-radius: 1em;
            overflow: hidden;
            box-shadow: var(--box-shadowTwo);

            &Home {
                //width: 74%;
                height: 1em;
                border-radius: 1em 0 0 1em;
                border-right: 1px solid var(--backgroundColor);
                //background-color: gold;
            }

            &Away {
                //width: 26%;
                border-radius: 0 1em 1em 0;
                height: 1em;
                //background-color: rgb(0, 128, 255);
            }
        }
    }

    &_table {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        width: 100%;
        color: var(--foregroundColor);
        padding: 0.5em;

        @media (max-width: 600px) {
            grid-template-columns: 3.5em 1fr 3.5em;

        }

        &Options {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;


        }

        &Option {
            padding: 0.35em 0.25em;
            width: 100%;
            font-size: 0.9em;
            text-align: center;
            border-bottom: 1px solid var(--hover-link);



        }
    }

}


.lineups {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    padding: 4em 0.5em;
    //max-height: 90svh;
    overflow-y: auto;

    &_title {
        color: var(--primaryColor);
        margin: 2.5em 0 0 0;
        text-align: center;
    }


    &_field {
        position: relative;
        width: 65%;
        aspect-ratio: 1 / 1.7;
        background-color: #034a03;
        border: 2px solid white;

        @media (max-width: 600px) {
            width: 100%;
            aspect-ratio: 1 / 1.8;

        }

        &Children {
            position: absolute;
            width: 100%;
            height: 100%;
            display: flex;
            flex-flow: row wrap;
            z-index: 3;
        }

        &First {
            display: flex;
            justify-content: center;
            width: 100%;
            height: 50%;
            background-color: transparent;
            border-bottom: 2px solid white;

            &AreaLarge {
                display: flex;
                justify-content: center;
                width: 65%;
                height: 36%;
                border-bottom: 2px solid white;
                border-right: 2px solid white;
                border-left: 2px solid white;
                background-color: #034a03;
                z-index: 2;


            }

            &AreaSmall {
                width: 55%;
                height: 45%;
                border-bottom: 2px solid white;
                border-right: 2px solid white;
                border-left: 2px solid white;
                z-index: 2;

            }
        }

        &Second {
            display: flex;
            justify-content: center;
            transform: rotate(180deg);
            width: 100%;
            height: 50%;
            background-color: transparent;
        }

        &Circle {
            position: absolute;
            top: 38%;
            left: 32.5%;
            border-radius: 100%;
            border: 2px solid white;
            width: 35%;
            aspect-ratio: 1 / 1;

            &One {
                top: 0%;
                z-index: 1;
            }

            &Two {
                top: 77%;
                z-index: 0;
            }

            &CornerOne {
                left: -0.75em;
                top: -0.75em;
                width: 1.5em;
                height: 1.5em;

            }

            &CornerTwo {
                left: calc(100% - 0.75em);
                top: -0.75em;
                width: 1.5em;
                height: 1.5em;

            }

            &CornerThree {
                left: -0.75em;
                top: calc(100% - 0.75em);
                width: 1.5em;
                height: 1.5em;

            }

            &CornerFour {
                left: calc(100% - 0.75em);
                top: calc(100% - 0.75em);
                width: 1.5em;
                height: 1.5em;

            }
        }
    }


    &_manager {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        column-gap: 0.5em;
        height: 2.2em;
        padding: 0.25em 0.5em;
        background-color: var(--hover-link);
        border: 1px solid var(--twitterTwo-color);

        &Icon {
            background-color: var(--foregroundColor);
            color: var(--backgroundColor);
            border-radius: 2em;
            width: 1.5em;
            height: 1.5em;
            padding: 0.1em;
        }

        &Logo {
            width: 1.8em;
            height: 1.8em;
        }

        &Name {
            font-size: 0.8em;
            color: var(--foregroundColor);
            padding: 0 0.3em 0 0;
        }

        &Formation {
            padding: 0.15em 0.35em;
            border-radius: 2em;
            font-size: 0.8em;
            background-color: var(--twitterTwo-color);
            color: var(--foregroundColor);
        }

        &Home {
            position: absolute;
            top: -2.3em;
        }

    }

}

.player {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 2.2em;
    height: 2.2em;

    &_isSubstitute {
        flex-direction: row;
        column-gap: 0.75em;
        align-items: flex-end;
        padding: 1.25em 0 0.25em 0.25em;
        height: 3.5em;
        width: 100%;
        background-color: var(--borderTwoColor);
    }

    &_shirt {
        position: relative;
        display: flex;
        flex-direction: column;
        row-gap: 0.5em;
        width: 2.2em;
        height: 2.2em;
        //background-color: red;


    }

    &_icon {
        width: 2.2em;
        height: 2.2em;
    }

    &_number {
        position: absolute;
        top: calc(50% - 0.75em);
        left: calc(50% - 0.75em);
        width: 1.5em;
        height: 1.5em;
        font-size: 0.7em;
        font-weight: 600;
        padding: 0.15em 0 0 0;
        text-align: center;
        border-radius: 1em;
        background-color: var(--foregroundColor);
        color: var(--tertiaryColor);
    }

    &_name {
        color: var(--foregroundColor);
        width: 7em;
        font-size: 0.65em;
        text-align: center;
        border-radius: 1em;
        padding: 0.25em;
        background-color: #034a03ee;
        color: var(--foregroundColor);

        &Substitute {
            width: 8em;
            font-size: 0.75em;
            text-align: left;
            background-color: transparent;
            backdrop-filter: none;

        }
    }

    &_goalkeeper {
        //position: absolute;
        //top: -2.5em;

        &Away {
            //position: absolute;
            bottom: -0.5em;
        }
    }

    &_defender {
        //background-color: rgb(93, 154, 103);
    }

    &_midfielder {
        //background-color: rgb(237, 214, 100);
    }

    &_forward {
        //background-color: rgb(205, 81, 201);
    }

    &_away {
        transform: rotate(180deg);

    }

    &_position1 {
        grid-row: 3 / 4;
        grid-column: 3 / 4;
    }

    &_yellowCard {
        position: absolute;
        left: -0.3em;
        bottom: 0em;
        width: 1em;

        &Substitute {
            top: -0.2em;
            left: 90%;
        }
    }

    &_redCard {
        position: absolute;
        right: -0.5em;
        width: 1em;

        &Substitute {
            top: -0.2em;
            left: 90%;

        }
    }

    &_goal {
        position: absolute;
        left: -0.5em;
        top: -1.5em;
        width: 1em;

        &Substitute {
            top: -1.45em;
            left: 0.1em;
        }

        &Number {
            position: absolute;
            left: -1.1em;
            top: 0.8em;
            width: 1.3em;
            height: 1.3em;
            font-size: 0.7em;
            font-weight: 700;
            text-align: center;
            padding: 0 0 0.4em 0;
            border-radius: 1em;
            border: 1px solid var(--tertiaryColor);
            background-color: var(--foregroundColor);
            color: rgb(31, 70, 9);

            &Substitute {
                top: 0.5em;
                left: 0.8em;
            }

        }
    }

    &_change {
        position: absolute;
        right: -0.5em;
        bottom: 0em;
        width: 1em;
        height: 1em;
        border-radius: 2em;
        background-color: transparent;
        backdrop-filter: blur(2px);

        &Substitute {
            bottom: 0.2em;
            left: 2em;
            background-color: transparent;

        }

        &Reason {
            position: absolute;
            top: 2em;
            width: 1.2em;
            height: 1.2em;
            left: 86%;
            color: #e41d19;
        }

    }

    &_position {
        position: absolute;
        top: 0.25em;
        left: 4.3em;
        border-radius: 2em;
        padding: 0.1em 0.5em;
        font-size: 0.7em;
        text-transform: capitalize;
        font-weight: 600;

        color: var(--foregroundSecondColor);
        //background-color: #d39c0f45;
    }
}

.lineup {
    position: relative;
    display: grid;
    width: 100%;
    height: 50%;
    //grid-template-columns: repeat(4, 25%);
    // grid-template-rows: repeat(4, 25%);
    place-items: start center;

    &Away {
        transform: rotate(180deg);
        place-items: center center;
        //margin: 0 0 2.2em 0;
    }

    &_fourRows {
        // grid-template-rows: repeat(5, 20%);
        //place-items: start center;

    }


}

.substitutes {
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: row;
    column-gap: 0.25em;
    width: 100%;
    margin: 1em 0 0 0;
    background-color: var(--tertiaryColor);

    &_players {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        width: 100%;
        row-gap: 0.25em;

    }

}


.cronology {
    display: flex;
    flex-direction: column;
    row-gap: 0.25em;
    padding: 0.5em;

    &_commentaries {
        display: grid;
        grid-template-columns: 3em 3em 1fr;
        column-gap: 0.25em;
        color: var(--foregroundSecondColor);


        &Minute {
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            background-color: var(--background-text);
            padding: 0.25em;
            color: #10a30d;

        }

        &Type {
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            background-color: var(--background-textTwo);
            padding: 0.25em;

        }

        &Commentary {
            background-color: var(--background-textTwo);
            color: var(--foregroundSecondColor);
            padding: 0.5em;
            font-weight: 300;
            font-size: 0.85em;

        }
    }

}

.icons_ball {
    width: 1.8em;
    height: 1.8em;
    color: var(--foregroundSecondColor);
    fill: var(--foregroundSecondColor);
}

.icons_commentary {
    width: 1.8em;
    height: 1.8em;
    color: var(--hover-link);
    fill: var(--foregroundSecondColor);
}