.finals {
    display: flex;
    flex-direction: column;
    gap: 0.75em;
    width: 100%;
    padding: 0.75em 0 0 0;
}

.quarters {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    width: 100%;
    margin: 0 0 2em 0;

    &_title {
        font-size: 0.95em;
        color: var(--subtitle-color);
        text-align: center;
    }


}


.winners {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 0.75em;
    padding: 0.5em;

    &_title {
        text-align: center;
    }
}

.winner {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    max-width: 6em;
    gap: 0.5em;
    border-radius: 0.5em;
    padding: 0.5em;
    border: 3px solid #b28966;
    background: linear-gradient(-60deg, var(--headerhover-color)30%, #425163 50%, var(--headerhover-color)70%);
    box-shadow: 0 0 4px 2px #6e6e6e00;
    animation: animationWinner 0.6s ease-in-out infinite alternate;

    @keyframes animationWinner {
        0% {
            box-shadow: 0 0 4px 2px #b2a86610;

        }

        100% {
            box-shadow: 0 0 6px 4px #b2a86690;
        }
    }

    &_picture {
        border-radius: 12em;
        border: 3px solid #dec158;
        padding: 0.25em;
        width: 4em;
        height: 4em;
        overflow: hidden;
    }

    &_image {
        width: 100%;
        height: 100%;
        border-radius: 12em;
        object-fit: cover;
    }

    &_name {
        font-size: 0.8em;
        font-weight: 700;
        text-align: center;
    }

    &_bet {
        text-align: center;
    }

    &_icon {
        color: var(--primaryColor);
    }

    &_logo {

        &>svg {
            width: 2em;
            height: 2em;
        }
    }

}

.matches {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    margin: 0 0 0.5em 0;
}

.match {
    display: grid;
    grid-template-columns: 1fr 1fr 3em 1fr 1fr;
    grid-template-rows: 1fr 2em;
    width: 100%;
    gap: 0.25em;
    padding: 0.5em;
    border-radius: 0 0 0.25em 0.25em;
    background-color: var(--backgroundColor);
    border: 1px solid var(--borderTwoColor);

    &_VS {
        display: flex;
        align-items: center;
        justify-content: center;
        grid-column: 3 / 4;
        text-align: center;
        font-weight: 600;
        color: var(--primaryColor);
    }



    &_team {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.5em;
        grid-column: 1 / span 2;

        &Away {
            grid-column: 4 / span 2;
        }

        &Name {
            font-size: 0.6em;
            font-weight: 500;
            text-transform: uppercase;
        }

        &>svg {
            width: 2.5em;
            height: 2.5em;
        }

    }

    &_player {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 0.5em;
        justify-content: center;
        border-radius: 0.5em;
        grid-row: 2 / 3;
        grid-column: 1 / span 2;
        background-color: var(--borderTwoColor);

        &Away {
            grid-column: 4 / span 2;
        }

        &Picture {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 1.6em;
            height: 1.6em;
            border-radius: 5em;
            overflow: hidden;
        }

        &Image {
            width: 1.2em;
            height: 1.2em;
            border-radius: 5em;
        }

        &Name {
            text-align: center;
            font-size: 0.7em;
        }
    }
}

.loser {
    display: flex;
    align-items: center;
    position: absolute;
    height: 100%;

    &_icon {
        width: 4em;
        height: 4em;
        color: #ff0000;
    }
}