.match {
    position: relative;
    display: grid;
    grid-template-columns: 1.5fr 1fr 1.5fr;
    grid-row: 2.5em;
    place-items: center center;
    column-gap: 0.25em;
    height: 2.3em;
    width: 100%;
    font-family: var(--font-montserat);
    border: 1px solid var(--hover-link);

    @media (width < 400px) {
        grid-template-columns: 1.5fr 1fr 1.5fr;

    }


    &_logo {
        position: absolute;
        width: 100%;
        height: 100%;
        overflow: hidden;

        &Home {
            grid-column: 1 / 2;
        }

        &Away {
            grid-column: 3 / 4;
        }

        &>svg {
            position: absolute;
            width: 6em;
            height: 6em;
            opacity: 0.3;
            top: calc(50% - 3em);
            left: calc(50% - 3em);

            @media (width < 400px) {
                top: calc(50% - 2em);
                left: calc(50% - 2em);
                width: 4em;
                height: 4em;

            }
        }
    }

    &_home {
        display: flex;
        align-items: center;
        text-align: center;
        height: 2em;
        grid-column: 1 / 2;
        color: var(--foregroundColor);
    }

    &_date {
        grid-column: 2 / 3;
        height: 2em;
        width: 80%;
        color: var(--foregroundColor);
        background-color: var(--headerhover-color);
    }

    &_away {
        display: flex;
        align-items: center;
        text-align: center;
        height: 2em;
        grid-column: 3 / 4;
        color: var(--foregroundColor);
    }

    &_error {
        background-color: #FF000080;
        animation: animateError 1s ease-in-out infinite alternate;

        @keyframes animateError {
            0% {
                background-color: #FF000080;
            }

            100% {
                background-color: #FF000015;
            }
        }



    }

}