.main {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    row-gap: 1em;
    margin: 6em auto 0 auto;
    height: calc(100svh - 10em);
    width: 100%;
    padding: 7.5em 0 1em 0;
    border: 1px solid var(--borderColor);
    border-radius: var(--borderRadius);
    background: var(--tertiaryColor);
    max-width: var(--max-width);

    &_landscape {
        padding: 3.9em 0.5em 0.5em 0.5em;

    }

    &_message {
        margin: 1.5em 0 0.5em 0;
        text-align: center;
        text-wrap: balance;
        font-weight: 500;
        color: var(--foregrounColor);

        &Down {
            padding: 0 0 1.5em 0;
            border-bottom: 1px solid var(--borderColor);
            font-weight: 400;
        }
    }

    &_section {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        max-width: 27em;
        width: 90%;
        padding: 2em 0 0 0;
        border-radius: var(--borderRadius);
        border: 1px solid var(--borderTwoColor);
        background: var(--secondaryColor);
        color: var(--tertiaryColor);

    }

    &_article {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        row-gap: 1em;
        padding: 1em;
    }
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em;
    width: 100%;
    height: 4em;
    background-color: var(--screen-color);

    &_title {
        color: var(--primaryColor);
    }

    &_icon {
        color: var(--primaryColor);
        opacity: 0.6;
        width: 2.5em;
        height: 2.5em;
    }
}

.button {
    display: grid;
    place-items: center;
    grid-template-columns: 3em 1fr;
    column-gap: 0.75em;
    padding: 0.25em 0.75em;
    min-width: 18.5em;
    min-height: 3em;
    max-width: max-content;
    font-size: 0.9em;
    font-weight: 500;
    text-decoration: none;
    font-family: var(--font-montserrat);
    color: var(--tertiaryColor);
    border-radius: var(--borderRadius);
    border: none;
    cursor: pointer;
    transition: all 0.35s ease-in-out;

    &_google {
        background: linear-gradient(to right, #F8F8F8, #CCCCCC);
        background-size: 200% 200%;
    }

    &_twitter {
        background: linear-gradient(to right, #F8F8F8, #CCCCCC);
        background-size: 200% 200%;
    }

    &_facebook {
        background: linear-gradient(to right, var(--facebook-color), var(--facebookTwo-color));
        background-size: 200% 200%;
    }

    &:hover {
        background-position: -100% -100%;
    }

    &_icon {
        width: 2.5em;
        height: 2.5em;

    }

    &_text {
        text-align: left;
        width: 100%;

        &Google {
            color: var(--tertiaryColor);
        }

        &Twitter {
            color: var(--tertiaryColor);
        }

        &Facebook {
            color: var(--foregrounColor);
        }
    }
}

.icon {
    color: var(--borderColor);
    width: 4.5em;
    height: 4.5em;
}