.settingsProfile {

    &_title {
        font-size: 1em;
    }

    &_picture {
        position: absolute;
        top: 0.25em;
        right: 0.25em;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 3.2em;
        height: 3.2em;
        border-radius: 50%;
        overflow: hidden;
        padding: 0.5em;
        border: 1px solid var(--facebookTwo-color);
    }

    &_info {
        position: relative;
        display: flex;
        flex-direction: column;
        padding: 0.5em;

        &__item {
            display: flex;
            flex-direction: column;
            row-gap: 0.2em;
            padding: 0.25em 0 0.75em 0;
            margin: 0.25em 0;
            border-bottom: 1px solid var(--subtitleBack-color);
        }
    }

    &_input {
        padding: 0.35em 0.5em;
        font-size: 0.85em;
        color: var(--foregroundColor);
        border-radius: var(--borderRadius);
        border: 1px solid var(--subtitleBack-color);
        background-color: var(--twitter-color);
        outline: none;

        &:focus {
            border: 1px solid var(--twitter-color);
        }

        &Error {
            border: 1px dashed var(--error-color);
        }
    }

    &_image {
        width: 2.8em;
        height: 2.8em;
        border-radius: 50%;
    }

    &_label {
        font-size: 0.75em;
        color: var(--foregroundSecondColor);
    }

    &_text {
        font-size: 0.85em;
        font-weight: 400;
        color: var(--foregroundColor);
    }

    &_button {
        display: flex;
        justify-content: flex-end;
        align-self: flex-end;
        width: 8em;
        margin: 0.5em 0.25em 0.25em 0;

    }

    &_error {
        display: flex;
        align-items: center;
        column-gap: 0.5em;
        font-size: 0.75em;
        font-weight: 300;
        color: var(--error-color);
    }
}

.color {
    padding: 0;
    width: 5em;
    height: 2em;
}


.status {
    display: flex;
    align-items: center;
    justify-content: center;
    //position: absolute;
    position: relative;
    //top: 0.2em;
    //right: 1.5em;
    width: 2em;
    height: 1em;
    border-radius: 2em;
    background-color: var(--headerhover-color);
    transition: background-color 0.3s ease-in-out;
    border: 1px solid var(--hover-link);
    box-sizing: border-box;

    &_active {
        background-color: var(--primaryColor);

    }

    &_input {
        position: absolute;
        left: 0;
        width: 2em;
        height: 2em;
        z-index: 2;
        opacity: 0;
    }

    &_button {
        box-sizing: border-box;
        position: absolute;
        top: -1px;
        left: 0;
        border-radius: 2em;
        width: 1em;
        height: 1em;
        font-weight: 600;
        background-color: var(--primaryColor);
        color: var(--tertiaryColor);
        transition: transform 0.3s ease-in-out;
        box-shadow: var(--box-shadow);
        cursor: pointer;

        &Active {
            transform: translateX(100%);
            background-color: var(--primaryColor);
        }
    }

    &_text {
        position: absolute;
        top: -0.25em;
        right: -5.5em;
        width: 5em;
        font-size: 0.75em;
    }
}