.match {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-width: 2.5em;
    height: 5.75em;
    box-sizing: border-box;
    overflow: hidden;
    width: 100%;
    border-radius: var(--borderRadius);
    background-color: var(--secondaryColor);

    &End {
        background-color: #00800045;
        color: #008000;
    }

    &Live {
        background-color: #FF000045;
        color: #FF0000;

        &>svg {

            @keyframes liveanimate {
                0% {
                    transform: scale(1);
                }

                100% {
                    transform: scale(1.1);
                }
            }
        }
    }

    &Unstarted {
        background-color: #eebd5b45;
        color: #eebd5b;
    }

    &Status {
        position: absolute;
        top: 0em;
        right: 0em;
        width: 1em;
        height: 1em;

        &Live {
            position: absolute;
            top: 0.5em;
            right: 0.5em;
            background-color: #FF0000;
            width: 0.5em;
            height: 0.5em;
            border-radius: 1em;

            &::before {
                position: absolute;
                left: 0em;
                top: -0.02em;
                width: 0.5em;
                height: 0.5em;
                content: "";
                border-radius: 1em;
                border: 2px solid #FF0000;
                box-sizing: border-box;
                animation: liveanimate 1.3s ease-in-out infinite;
            }

            &::after {
                position: absolute;
                left: 0em;
                top: -0.02em;
                width: 0.5em;
                height: 0.5em;
                content: "";
                border-radius: 1em;
                border: 2px solid #FF0000;
                box-sizing: border-box;
                animation: liveanimate 1.3s ease-in-out 0.6s infinite;
            }



        }
    }


    &>svg {

        &:nth-child(1),
        &:nth-child(4) {
            position: absolute;
            width: 2em;
            height: 2em;
            opacity: 0.85;
        }

        &:nth-child(1) {
            top: -0.75em;
            left: -0.75em;
        }

        &:nth-child(4) {
            bottom: -0.75em;
            right: -0.75em;
        }
    }

    &VS {
        font-size: 0.8em;
        font-weight: 600;
        color: var(--foregrounColor);
    }

    &Name {
        font-size: 0.85em;
        font-weight: 500;
        text-align: center;
        border-radius: 1em;
        color: var(--foregrounColor);

        &Home {
            left: -2.5em;
        }

        &Away {
            right: -2.5em;
        }
    }

}


@keyframes liveanimate {
    0% {
        transform: scale(0.5);
        opacity: 1;
    }

    100% {
        transform: scale(4);
        opacity: 0;
    }
}