.section {
    position: relative;
    padding: 2.8em 0.25em 0.25em 0.25em;
    background-color: var(--secondaryColor);

    &_title {
        font-size: 1em;
    }
}

.header {
    display: flex;
    flex-direction: row;
    padding: 0.25em 0 0.5em 0.5em;
    gap: 2em;

    &_users {
        display: flex;
        flex-direction: row;
        gap: 0.5em;
    }

    &_picture {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: calc(100svw / 12);
        height: calc(100svw / 12);
        max-width: 2em;
        max-height: 2em;
        border-radius: 3em;
        opacity: 1;

        &::before {
            content: '';
            position: absolute;
            right: 0em;
            bottom: 0em;
            width: 0.5em;
            height: 0.5em;
            border-radius: 2em;
            background-color: #57c325;
            z-index: 2;
            transition: all 0.3s ease-in-out;
        }

        &Offline {
            .header_image {
                opacity: 0.4;
            }

            &::before {
                background-color: #d62b2b;
            }
        }

        &Online {
            &::after {
                position: absolute;
                content: attr(attr-name);
                font-size: 0.8em;
                padding: 0.1em 0.3em;
                color: rgb(1, 9, 16);
                background-color: var(--foregroundSecondColor);
                border-radius: 0.25em;
                animation: animOnline 2s ease-in-out both;
                z-index: 15;


                @keyframes animOnline {
                    0% {
                        opacity: 0;
                        transform: translateY(1em);
                    }

                    10% {
                        opacity: 1;
                    }

                    50% {
                        opacity: 1;
                    }

                    100% {
                        opacity: 0;
                        transform: translateY(3em);
                    }
                }


            }
        }

    }

    &_image {
        width: calc(100svw / 12);
        height: calc(100svw / 12);
        max-width: 2em;
        max-height: 2em;
        border-radius: 3em;
        border: 1px solid var(--foregroundSecondColor);
        transition: all 0.3s ease-in-out;
    }

}

.chat {
    position: absolute;
    height: 58svh;
    bottom: 0.5em;
    display: grid;
    grid-template-rows: 1fr 2.5em;
    gap: 0.5em;
    padding: 0.25em;
    border: 1px solid var(--borderColor);
    border-radius: var(--borderRadius);
    background-color: var(--secondaryColor);
    z-index: 6;
    transition: all 0.4s ease-in-out;


    &_inactive {
        transform: translateX(100svw);

    }

    &_active {
        transform: translateX(0);
    }

    &_text {
        display: flex;
        flex-direction: column;
        gap: 0.5em;
        padding: 0.5em 0.75em;
        border-radius: 0.25em 0.25em 0 0;
        border: 1px dashed var(--borderColor);
        background-color: #101010;
    }
}

.buttonChat {
    position: absolute;
    right: 0.25em;
    bottom: 60svh;
    z-index: 3;
    width: 3em;
    height: 3em;
    padding: 0;
    border: none;
    border-radius: 3em;
    background-color: var(--secondaryColor);


    &_inactive {
        transform: translateY(50svh);
    }

    &_active {
        transform: translateY(0);
    }

    &_icon {
        width: 2.5em;
        height: 2.5em;
        transform: scaleX(-1);
        color: var(--primaryColor);
    }
}


.footer {
    display: grid;
    grid-template-columns: 1fr 6em;
    padding: 0 0 0.5em 0;
    width: 100%;


    &.div {
        grid-column: 1 / 2;
    }

    &.button {
        grid-column: 2 / 3;
    }
}


.user {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: var(--backgroundColor);
    border-radius: 0 0.5em 0.5em 0.5em;
    padding: 0.25em 0.5em;
    max-width: 90%;
    gap: 0.15em;
    align-self: flex-start;

    &_name {
        font-size: 0.7em;
        color: var(--primaryColor);
    }

    &_message {
        font-size: 0.8em;
        color: var(--foregroundColor);
    }

    &_local {
        align-self: flex-end;
        border-radius: 0.5em 0 0.5em 0.5em;
        background-color: var(--fourthColor);

        &::before {
            position: absolute;
            content: "";
            right: -8px;
            top: 0;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 9px 10px 0 0;
            border-color: var(--fourthColor) transparent transparent transparent;
        }

        &>.user_name {
            text-align: end;
            color: var(--foregroundSecondColor);
        }
    }

    &_away {
        &::before {
            position: absolute;
            content: "";
            left: -8px;
            top: 0;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 9px 10px 0 0;
            transform: rotate(90deg);
            border-color: var(--backgroundColor) transparent transparent transparent;
        }

    }
}

.board {
    display: flex;
    gap: 0.5em;
    width: 100%;
    height: calc(100svh - 6em);
    padding: 0 0.25em 0.25em 0.25em;
}

.draw {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100%;
    width: 100%;
    border: 1px solid var(--borderColor);
    border-radius: var(--borderRadius);
    background-color: var(--secondaryColor);

    &_footer {
        display: flex;
        justify-content: center;
        position: absolute;
        bottom: 0;
        width: 100%;
        padding: 0.25em;
    }

    &_button {
        animation: apperInitials 2s ease-in-out infinite;

        @keyframes apperInitials {

            0% {
                transform: rotate(0);
            }

            90% {
                transform: rotate(0);
            }

            95% {
                transform: rotate(0);
            }

            96% {
                transform: rotate(-5deg) scale(1);
            }

            98% {
                transform: rotate(5deg) scale(1.1);
            }

            100% {
                transform: rotate(0) scale(1);
            }
        }
    }
}

.teams {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.25em;
    gap: 0.5em;
    width: 100%;
    max-width: calc(100svw - 1em);

    &_reset {
        position: absolute;
        left: 0.25em;
        top: 0.25em;
    }

    &_name {
        padding: 0.15em 0.5em;
        max-width: 10em;
        text-align: center;
        color: var(--foregorunddColor);
        font-weight: 500;
        border: 1px dashed #dddddd55;
        border-radius: 0.1em;
        background: linear-gradient(25deg, #887a01, #b7a502, #887a01);
    }

    & div {
        width: 55svw;
        height: 55svw;
        max-width: 25em;
        max-height: 25em;
        background-color: var(--secondaryColor);
        border-radius: 100%;
    }
}


.participants {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.8em 1.5em 1.75em;
    place-items: center center;
    gap: 0.25em;
    background-color: #101010;
    border: 1px solid var(--borderTwoColor);
    width: 100%;
    padding: 0.25em;

    &_name {
        width: 6em;
        font-size: 1em;
        color: var(--primaryColor);
        text-align: center;
        width: 100%;
    }

    &_team {
        font-size: 1.1em;
        font-weight: 600;
        opacity: 1;
        padding: 0.15em 0.5em;
        color: var(--foregroundColor);
        border-radius: var(--borderRadius);
        background: linear-gradient(-15deg, #544b01, #998a02, #544b01);
        border: 1px dashed var(--borderColor);
        animation: apperInitial 0.5s ease-in-out both;
        text-shadow: 0 0 3px #101010;

        @keyframes apperInitial {
            0% {
                opacity: 0;
                transform: scale(0);
            }

            90% {
                opacity: 1;
                transform: scale(1.2);
            }

            95% {
                opacity: 1;
                transform: scale(1);
            }

            96% {
                transform: scale(1) rotate(-15deg);
            }

            98% {
                transform: scale(1) rotate(15deg);
            }

            100% {
                transform: scale(1) rotate(0);
            }
        }
    }
}