.header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    padding: 0.35em 0;

    &Button {
        border: none;
        padding: 0.35em 0.6em;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        max-width: 8em;
        font-weight: 600;
        color: var(--background-start-color);
        background-color: var(--highlight-color);
        border-radius: var(--border-radius);
        border: none;

        &:hover {
            background-color: var(--highlighthover-color);
        }
    }

    &Time {
        grid-column: 1 / span 2;
        max-width: max-content;
        font-size: 0.8em;
        padding: 0.1em 0.5em;
        border-radius: 0.2em;
        border: 1px solid #FF0000;
        background-color: #4a0606;

        &Remainig {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            text-align: center;
            grid-column: 2 / 3;
            font-size: 0.85em;

            &Clock {
                color: #06ea06;
            }
        }
    }

    &Options {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: flex-start;
        overflow: hidden;
        height: 1.6em;
        row-gap: 0.3em;
        font-size: 0.85em;
        color: #c61bff;


        &Option {
            display: flex;
            align-items: center;
            column-gap: 0.25em;
            padding: 0.2em 0 0 0;
            animation: animateOptions 3s infinite alternate;

            @keyframes animateOptions {
                0% {
                    transform: translateY(0);
                }

                30% {
                    transform: translateY(0);
                }



                70% {
                    transform: translateY(-100%);
                }

                100% {
                    transform: translateY(-100%);
                }
            }
        }


        &Icon {
            width: 1.2em;
            height: 1.2em;

            &Win {
                color: #c29b0f;
            }
        }

        &Text {
            &Win {
                color: #c29b0f;
                margin: 0 0.5em 0 0;
            }
        }
    }

}