.participant {
    display: grid;
    grid-template-columns: 2em 1fr 3em;
    align-items: center;
    justify-content: flex-start;
    height: 2em;
    padding: 0 0.2em;
    border-radius: var(--borderRadius);
    background-color: var(--secondaryColor);
    overflow: hidden;

    &_name {
        color: var(--foregroundColor);
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        height: 1.5em;
    }

    &_photo {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 2em;
        overflow: hidden;
        width: 1.6em;
        height: 1.6em;
        border: 1px solid var(--facebookTwo-color);

        &Image {
            object-fit: cover;
            border-radius: 2em;
            width: 1.4em;
            height: 1.4em;
        }
    }


    &_select {
        border-top: 1px solid var(--primaryColor);
        border-bottom: 1px solid var(--primaryColor);
    }

    &_hits {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: right;

        &Icon {
            color: #950fc2;
            width: 1.2em;
            height: 1.2em;

            &Not {
                color: #c7c7c7;
            }
        }

        &Number {
            position: absolute;
            color: #c29b0f;
            font-size: 0.8em;

            &Not {
                color: #c7c7c7;
            }
        }
    }

    &_winIcon {
        color: #c29b0f;
    }

}