.draw {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100%;
    width: 100%;
    border: 1px solid var(--surface-d);
    border-radius: var(--border-radius-md);
    background-color: var(--surface-b);

    &_footer {
        display: flex;
        justify-content: center;
        position: absolute;
        bottom: 0;
        width: 100%;
        padding: 0.25em;
    }

    &_button {
        animation: apperInitials 2s ease-in-out infinite;

        @keyframes apperInitials {

            0% {
                transform: rotate(0);
            }

            90% {
                transform: rotate(0);
            }

            95% {
                transform: rotate(0);
            }

            96% {
                transform: rotate(-5deg) scale(1);
            }

            98% {
                transform: rotate(5deg) scale(1.1);
            }

            100% {
                transform: rotate(0) scale(1);
            }
        }
    }
}

.teams {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.25em;
    gap: 0.5em;
    width: 100%;
    max-width: calc(100svw - 1em);

    &_reset {
        position: absolute;
        left: 0.25em;
        top: 0.25em;
        min-width: 2.5em;
        max-width: 2.5em;
        padding: 0.25em 0.5em;

        &>svg {
            width: 2em;
            height: 2em;
        }

    }

    &_name {
        padding: 0.15em 0.5em;
        max-width: 10em;
        text-align: center;
        color: var(--text-color);
        font-weight: 500;
        border: 1px dashed #dddddd55;
        border-radius: 0.1em;
        background: linear-gradient(25deg, #887a01, #b7a502, #887a01);
    }

    & div {
        width: 60svw;
        height: 60svw;
        max-width: 25em;
        max-height: 25em;
        background-color: var(--primary-color);
        border-radius: 100%;
        box-shadow: 0 0 2px 1px #FFFFFF40 inset;
    }
}


.participants {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.8em 1.5em 3em;
    place-items: center center;
    gap: 0.25em;
    background-color: var(--surface-a);
    border: 1px solid var(--surface-c);
    width: 100%;
    padding: 0.25em;

    &_name {
        width: 6em;
        font-size: 1em;
        color: var(--primary-color);
        text-align: center;
        width: 100%;
    }

    &_team {
        font-size: 1.1em;
        font-weight: 600;
        opacity: 1;
        padding: 0.15em 0.5em;
        color: var(--text-color);
        border-radius: var(--border-radius-md);
        background: linear-gradient(-15deg, #544b01, #998a02, #544b01);
        border: 1px dashed var(--surface-d);
        animation: apperInitial 0.5s ease-in-out both;
        text-shadow: 0 0 3px #101010;

        @keyframes apperInitial {
            0% {
                opacity: 0;
                transform: scale(0);
            }

            90% {
                opacity: 1;
                transform: scale(1.2);
            }

            95% {
                opacity: 1;
                transform: scale(1);
            }

            96% {
                transform: scale(1) rotate(-15deg);
            }

            98% {
                transform: scale(1) rotate(15deg);
            }

            100% {
                transform: scale(1) rotate(0);
            }
        }
    }
}

.countdown {
    display: flex;
    align-items: center;
    justify-content: center;

    &_number {
        font-size: 2.1em;
    }
}

.messagefinal {
    text-align: center;
}